html,
body,
#app {
  height: 100%;
}

body{
  margin: 0px;
}

:root {
 --theme-color:  #BE77F9;
 --background-color: black;
 --complementary-color: #00D0DE;
 --gray-color:  #6D7075;
 --text-color: #ffffff;
}